In [1]:
import pandas as pd
import numpy as np
import scipy.stats as si

# Frequency Distribution of Two Random Variables

In [2]:
# Number of PCs sold and Number of Printers Sold
zero =  [6,4,2,2,2]
one =   [6,10,4,2,2]
two =   [4,12,20,10,2]
three = [4,4,10,20,10]
four =  [2,2,10,20,30]

In [3]:
total1 = []
for i in range(0,len(zero)):
    total1.append(zero[i]+one[i]+two[i]+three[i]+four[i])
total1

[22, 32, 46, 54, 46]

In [4]:
zero.append(sum(zero))
one.append(sum(one))
two.append(sum(two))
three.append(sum(three))
four.append(sum(four))
total1.append(sum(total1))

In [5]:
header1 = pd.MultiIndex.from_product([['Number of PCs Sold'],['0','1','2','3','4','total']])
header2 = pd.MultiIndex.from_product([['Printers Sold'],['0','1','2','3','4','total']])
df = pd.DataFrame([zero, one, two, three, four, total1], index=header1, columns=header2).T
df

                    Number of PCs Sold
                                     0   1   2   3   4 total
Printers Sold 0                      6   6   4   4   2    22
              1                      4  10  12   4   2    32
              2                      2   4  20  10  10    46
              3                      2   2  10  20  20    54
              4                      2   2   2  10  30    46
              total                 16  24  48  48  64   200

In [6]:
a = df.iloc[5,5]

# Corresponding BIVARIATE PROBABILITY DISTRIBUTION

In [7]:
# Number of PCs sold and Number of Printers Sold
zero =  [6,4,2,2,2]
one =   [6,10,4,2,2]
two =   [4,12,20,10,2]
three = [4,4,10,20,10]
four =  [2,2,10,20,30]

In [8]:
zero1 =  list(zero/a)
one1 =   list(one/a)
two1 =   list(two/a)
three1 = list(three/a)
four1 =  list(four/a)

In [9]:
total2 = []
for i in range(0,len(zero1)):
    total2.append(zero1[i]+one1[i]+two1[i]+three1[i]+four1[i])
total2

[0.11, 0.16, 0.22999999999999998, 0.27, 0.22999999999999998]

In [10]:
zero1.append(sum(zero1))
one1.append(sum(one1))
two1.append(sum(two1))
three1.append(sum(three1))
four1.append(sum(four1))
total2.append(sum(total2))

In [11]:
header11 = pd.MultiIndex.from_product([['Number of PCs Sold'],['0','1','2','3','4','total']])
header21 = pd.MultiIndex.from_product([['Printers Sold'],['0','1','2','3','4','total']])
df2 = pd.DataFrame([zero1, one1, two1, three1, four1, total2], index=header11, columns=header21).T
df2

                    Number of PCs Sold
                                     0     1     2     3     4 total
Printers Sold 0                   0.03  0.03  0.02  0.02  0.01  0.11
              1                   0.02  0.05  0.06  0.02  0.01  0.16
              2                   0.01  0.02  0.10  0.05  0.05  0.23
              3                   0.01  0.01  0.05  0.10  0.10  0.27
              4                   0.01  0.01  0.01  0.05  0.15  0.23
              total               0.08  0.12  0.24  0.24  0.32  1.00

# Probability Calculation

In [12]:
R = int(input("Please enter the number of printers sold (0-4): "))
print("The MARGINAL (unconditional) Probability that", R, "printer(s) will be sold is:", df2.iloc[R,5])

Please enter the number of printers sold (0-4): 1
The MARGINAL (unconditional) Probability that 1 printer(s) will be sold is: 0.16

In [13]:
S = int(input("Please enter the number of PCs sold (0-4):: "))
print("The JOINT Probability that", S, "printer(s) will be sold is:", df2.iloc[R,S])

Please enter the number of PCs sold (0-4):: 3
The JOINT Probability that 3 printer(s) will be sold is: 0.02

In [14]:
print("The CONDITIONAL Prob. that", S, "PC(s) are sold, given", R,"printers are sold, i.e., = P (",S," PC | ",R ," Printer ):", (df2.iloc[R,S])/(df2.iloc[R,5]))

The CONDITIONAL Prob. that 3 PC(s) are sold, given 1 printers are sold, i.e., = P ( 3  PC |  1  Printer ): 0.125